site_name: Punkster Inc Technical Documentation
site_url: https://docs.punksterinc.com
repo_url: https://github.com/abardandev/tech-docs
repo_name: abardandev/tech-docs

theme:
  name: material
  palette:
    scheme: slate
    primary: light green
    accent: cyan
  features:
    - toc.integrate
    - navigation.top
  icon:
    repo: fontawesome/brands/github

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - md_in_html
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - def_list